<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amazing Events</title>
  <link rel="stylesheet" href="./Assets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <script src="https://kit.fontawesome.com/6ec9c7cfba.js" crossorigin="anonymous">
  </script>

</head>

<body>

  <nav class="nav nav-pills nav-fill d-flex justify-content-between align-items-center">
    <img src="./Assets/Imagenes/Logo Amazing Events.png" alt="" class="logo">
    <div class="d-flex flex-wrap justify-content-center">
      <a class="nav-link" aria-current="page" href="./index.html">Home</a>
      <a class="nav-link" href="./upcomingEvents.html">Upcoming Events</a>
      <a class="nav-link" href="./pastEvents.html">Past Events</a>
      <a class="nav-link" href="./contact.html">Contact</a>
      <a class="nav-link active" href="#">Stats</a>

    </div>
  </nav>
  <main id="app">
    
    <div id="carouselExample" class="carousel slide d-flex">
      <div class="carousel-inner home">
        <div class="carousel-item active">
          <a href="#" class="d-flex justify-content-center align-items-center">Stats</a>
        </div>


      </div>
      <span class="carousel-control-prev" type="button" data-bs-target="#carouselExample">
        <a href="../contact.html"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
      </span>
      <span class="carousel-control-next" type="button" data-bs-target="#carouselExample">
        <a href="./index.html"> <span class="carousel-control-next-icon" aria-hidden="true"></span></a>


      </span>
    </div>
    <div class="d-flex justify-content-center align-items-center ms-4 me-4 mt-3">

      <table class="table caption-top table-bordered border-primary">

        <thead>
          <th colspan="3">Event statistics</th>
          <tr>
            <td scope="col">Events with the highest percentaje of attendance</td>
            <td scope="col">Events with the lowest percentaje of attendance</td>
            <td scope="col">Event with larger capacity</td>
          </tr>
        </thead>
        <tbody id="generalStats">
          <tr>

            <td>{{higherPercentage.name}}: {{higherPercentage.percent}}%</td>
            <td>{{lowestPercentage.name}}: {{lowestPercentage.percent}}%</td>
            <td>{{largerCapacity.name}}: {{largerCapacity.capacity}}</td>
          </tr>
        </tbody>

        <thead>
          <th colspan="3">Upcoming events statistics by category</th>
          <tr>
            <td scope="col">Categories</td>
            <td scope="col">Revenues</td>
            <td scope="col">Percentage of attendance</td>
          </tr>
        </thead>
        <tbody id="upcommingStats" v-for="stat of upcommingStats">
          <tr>
            <td>{{stat.name}}</td>
            <td>${{stat.revenues}}</td>
            <td>{{stat.prom}}%</td>
          </tr>




          <thead>
            <th colspan="3">Past events statistics by category</th>
            <tr>
              <td scope="col">Categories</td>
              <td scope="col">Revenues</td>
              <td scope="col">Percentage of attendance</td>
            </tr>
          </thead>
        <tbody id="pastStats" v-for="stat of pastStats">
          <tr>

            <td>{{stat.name}}</td>
            <td>${{stat.revenues}}</td>
            <td>{{stat.prom}}%</td>
          </tr>


        </tbody>
      </table>
      </template>

    </div>

  </main>
  <footer class="d-flex justify-content-around align-items-center">
    <div>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-instagram "></i>

    </div>
    <h2>Cohort Nro 44</h2>

  </footer>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./stats.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>